* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
  }
  
  #screen {
    width: 100%;
    /* border: 2px solid black; */
  }
  

  
  #cartbody {
    width: 65%;
    /* border: 2px solid #d9dade; */
    margin: auto;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
  }
  
  #lcarteft {
    width: 61%;
    /* border: 2px solid yellowgreen; */
    margin-top: 20px;
  }
  
  #adcart {
    display: flex;
    justify-content: space-between;
    border: 2px solid #d9dade;
    margin: 5px;
    line-height: 25px;
    
  }
  
  #adcart > div:nth-child(1) {
    margin: 5px 0px 5px 10px;
  }
  
  #adcart > div:nth-child(1) > p:nth-child(1) {
    font-size: 14px;
  }
  
  #adcart > div:nth-child(1) > p:nth-child(2) {
    font-size: 12px;
  }
  
  #adcart > div:nth-child(2) {
    width: 145px;
    height: 35px;
    margin: 15px 20px 0px 0px;
  }
  
  #adcart > div:nth-child(2) > button {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    color: #ff3f6c;
    border: 1px solid #ff3f6c;
    border-radius: 3px;
  }
  
  #offcart {
    border: 2px solid #d9dade;
    margin: 5px;
    line-height: 25px;
    font-size: 12px;
  }
  
  #offcart > p:nth-child(1) {
    font-size: 14px;
    margin-left: 10px;
  }
  
  #offcart > p:nth-child(2) {
    margin-left: 10px;
    font-size: 12px;
  }
  
  #offcart > select:nth-child(3) {
    border: none;
    outline: none;
    color: #ff3f6c;
    font-weight: 700;
    margin-left: 10px;
  }
  
  #itemscart {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
  }
  
  #itemscart > div:nth-child(2) {
    font-size: 12px;
    font-weight: 700;
    color: rgb(95, 95, 95);
  }
  
  #itemscart > div:nth-child(2) > span:nth-child(1) {
    margin-right: 20px;
    border-right: 2px solid #d9dade;
    padding-right: 20px;
  }
  
  #productcart {
    display: flex;
    border: 2px solid #d9dade;
    margin: 5px;
    line-height: 25px;
  }
  
  #productcart > div:nth-child(1) {
    width: 20%;
    /* height: 300px; */
    margin: 10px 5px;
  }
  
  #productcart > div:nth-child(1) > img {
    width: 100%;
    /* height: 100; */
  }
  
  #productcart > div:nth-child(2) {
    margin-left: 15px;
    margin-top: 10px;
  }
  
  #productcart > div:nth-child(2) > div:nth-child(1) > p:nth-child(1){ 
    font-size: 14px;
  }

  #productcart > div:nth-child(2) > div:nth-child(1) > p:nth-child(2){ 
    font-size: 14px;
  }
  
  #productcart > div:nth-child(2) > div:nth-child(1) > p:nth-child(3) {
    font-size: 12px;
  }
  
  #productcart > div:nth-child(2) > div:nth-child(2) {
    font-size: 14px;
  }
  
  #productcart > div:nth-child(2) > div:nth-child(3) > p:nth-child(1) {
    font-size: 14px;
  }
  
  #productcart > div:nth-child(2) > div:nth-child(3) > p:nth-child(2) {
    font-size: 12px;
  }

  #productcart > div:nth-child(2) > div:nth-child(3) > p:nth-child(3) {
    font-size: 12px;
  }
  
  #wishcart {
    border: 2px solid #d9dade;
    margin: 5px;
    line-height: 25px;
    padding: 10px 10px;
    font-size: 14px;
   margin-top: 20px ;
  }
  
  #rightcart {
    width: 37%;
    border-left: 2px solid #d9dade;
  }
  
  #couponcart {
    margin: 20px 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9dade;
  }
  
  #couponcart > p:nth-child(1) {
    font-size: 12px;
    font-weight: 700;
    color: rgb(83, 81, 81);
  }
  
  #couponcart > div {
    display: flex;
    justify-content: space-around;
    line-height: 40px;
    font-size: 14px;
  }
  
  #couponcart > div > button {
    width: 70px;
    height: 28px;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    color: #ff3f6c;
    border: 1px solid #ff3f6c;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  #supportcart {
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9dade;
  }
  
  #supportcart > div:nth-child(1) {
    font-size: 12px;
    font-weight: 700;
    color: rgb(83, 81, 81);
    margin-bottom: 18px;
  }
  
  #supportcart > div:nth-child(2) {
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  #supportcart > div:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    margin-bottom: 12px;
  }
  
  #supportcart > div:nth-child(3) > p {
    border: 2px solid rgb(157, 156, 156);
    padding: 5px;
    border-radius: 30%;
  }
  
  #supportcart > div:nth-child(4) {
    font-size: 14px;
    font-weight: 700;
    color: #ff3f6c;
  }
  
  #pricecart {
    font-size: 12px;
    margin: 10px 10px;
    border-bottom: 2px solid #d9dade;
  }
  
  #pricecart > p {
    font-weight: 700;
    color: #444444;
  }
  
  #pricecart > div {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
  }
  
  #pricecart > div > p {
    font-size: 12px;
  }
  
  #amtcart {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 10px;
    color: #3b3b3b;
  }
  
  
  #butcart>button{
      width: 90%;
      height: 36px;
      background-color: #ff3f6c;
      font-size: 12px;
      font-weight: 700;
      color: white;
      border: 2px solid #ff3f6c;
      border-radius: 3px;
      margin: 10px 20px;
  }
  